
/* Navbar section */
.navbar{
    width: 100%;
    height: 110%;
    line-height: 65px;
    background-color: #20226d;
    z-index: 50;
    display:flex;
    padding: 1.5em 1remß;
    justify-content: space-between;
    

}

.logo{
    color: #fff;
    cursor: pointer;
    margin-left: 100px;

    font-size: 14px;

}
.navbar_links{
    display: flex;
    list-style: none;
    align-items: center;

}
.navbar_links > li{
    padding-left: 2em;


}

.navbar_links > li > a{
    text-decoration: none;
    color: #fff;
    font-size :1rem;
    display: flex;
    align-items: center;

}
.navbar_links > li > a:hover{
    color: #e65f5b;
}

.navbar_links >li >a >span{
    margin-left:5px;
    display: flex;
    align-items: center;


}
.login{

    background-color: #e65f5b;
    padding: 10px;
    height: 40px;
    margin-left: 20px;
    margin-right: 100px;

    border-radius: 10px;

}
.login:hover{
    background:rgb(156, 63, 63);
    color: #20226d;
}
.count{
    width: 30px;
    height:30px;
    display: flex;
    margin-left: 10px;
    border-radius: 50%;
    color: #20226d;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

.hamburgerMenu{
    display: none;
    margin-right: 30px;
    margin-top :20px;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;


}
.hamburgerMenu > div{
    width: 100%;
    height: 3px;
    background :white;

}
.hamburgerMenu:hover >div{
    background-color :#e65f5b;
}

@media (max-width : 960px){
    .navbar_links{
        display:none;
    }

    .hamburgerMenu{
    display:flex;
    }
}

@media (max-width: 500px){
    .logo{
        font-size: 1rem;
    }

}